{% set vrf_command = 'ip vrf exec ' ~ vrf ~ ' ' if vrf is vyos_defined else '' %}
[Unit]
ConditionPathExists={{ config_file }}
After=vyos-router.service

[Service]
Environment=daemon_interval={{ interval }}
ExecStart={{ vrf_command }}/usr/bin/ddclient --daemon ${daemon_interval} --file {{ config_file }} --foreground
